---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import HeroIlust from "../../assets/pics/hero.svg";
---

<Section id="home">
<div class="relative flex flex-col-reverse items-center md:flex-row" id="hero">
    <div class="row items-center py-5 md:w-6/12 md:pb-20 md:pt-10">
        <div class="text-left space-y-3">
            <h1 class="text-4xl font-medium leading-none md:text-6xl text-center md:text-left">We take the stress<br> out of tech support</h1>
            <p class="mt-6 mb-8 text-lg font-normal leading-7 sm:mb-12 text-center md:text-left md:pr-12">Transparency and honesty are at the heart of what we do. From the initial quote to the final fix, we ensure our clients know exactly what to expect with no hidden costs or surprises. Our straightforward approach has earned us a reputation for reliability and trustworthiness, making us the go-to choice for residential and small business customers alike.
</p>
            <div class="w-full justify-center md:justify-start items-center inline-flex">
                <a href="/contact" target="_blank" class="px-8 py-5 bg-dark hover:bg-white rounded-2xl text-center text-white hover:text-black border text-xl font-normal leading-7">Schedule an appointment
                </a>
            </div>
        </div>
    </div>
    <div class="flex items-center py-5 md:w-6/12 md:pb-20 md:pt-10">
        <Image src={HeroIlust} alt="Hero Ilustration" loading="eager" />
    </div>
</div>
</Section>