---
import { Image } from "astro:assets";
import s1 from "../../assets/company/b1.png";
import s2 from "../../assets/company/b2.png";
import s3 from "../../assets/company/b3.png";
import s4 from "../../assets/company/b4.png";
import s5 from "../../assets/company/b5.png";
import s6 from "../../assets/company/b6.png";
import s7 from "../../assets/company/b7.png";
import s8 from "../../assets/company/b8.png";
import s9 from "../../assets/company/b9.png";
import s10 from "../../assets/company/b10.png";
import Section from "./Section.astro";

const sponsors = [
  { logo: s6, alt: "Lenovo logo" },
  { logo: s5, alt: "Dell logo" },
  { logo: s4, alt: "Windows logo" },
  { logo: s3, alt: "Acer logo" },
  { logo: s2, alt: "Asus logo" },
  { logo: s1, alt: "HP logo" },
  { logo: s7, alt: "Apple logo" },
  { logo: s8, alt: "Toshiba logo" },
  { logo: s9, alt: "Samsung logo" },
  { logo: s10, alt: "IBM logo" },
];
---

<Section id="sponsors">
  <div class="flex-row items-center">
  <div class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-6">
    {
      sponsors.map((sponsor) => {
        return (
          <div class="padding: 5px grayscale transition duration-200 hover:grayscale-0">
            <Image src={sponsor.logo} class="h-7 w-auto mx-auto" alt={sponsor.alt} loading="lazy" />
          </div>
        );
      })
    }
  </div>
  </div> 
</Section>