---
import SectionTitle from "../ui/SectionTitle.astro";
import SwiperSlider from "../ui/SwiperSlider.astro";
import Section from "./Section.astro";
---

<Section id="testimonials">
  <div class="mt-20">
    <SectionTitle
      sectionTitle="Testimonials"
      description="Don’t just take our word for it - hear from some of our satisfied users! Check out some of our testimonials below to see what others are saying about Sage Tech."
    />
    <div class="rounded-[45px] bg-dark mb-[150px] text-gray">
    <div class='sk-ww-google-reviews'  data-embed-id='25510007'></div>
    <script src='https://widgets.sociablekit.com/google-reviews/widget.js' defer></script>
    </div>
  </div>
</Section>
